body {
    background-color: white;
}

p {
    color: white;
    font-family: cursive;
    font-size: 55px;
    padding-left: 30px;
    margin-top: 30px;
}

#checkout {
    text-decoration: none;
    float: right;
    padding-right: 10%;
    padding-top: 40px;
}


#header {
    line-height:40px;
    background-color: #45276C;
    height:100px;
    width:1230px;
    padding:10px;
}

#meny {
    background-color: #321952;
    height:18px;
    width:1230px;
    padding:10px;


}

a {
    padding-left: 30px;
    padding-bottom: 30px;
    color: white;
    font-family: times new roman;
    text-decoration: none;
}

#container {
    position: relative;
    top: 50px;
    background-color: #45276C;
    height:75px;
    width: 910px;
    padding:10px;
    margin-left: 255px;
}

#meny2 {
    position: relative;
    top: 50px;
    background-color: #45276C;
    height: 200px;
    width: 160px;
    float: left;
    margin-left: 10px;
}

#p {
    color: white;
    font-family: times new roman;
    font-size: 10px;
    padding-top: 20px;
}

#p2 {
    color: white;
    font-family: times new roman;
    font-size: 40px;
    padding-left: 380px;
    padding-top: 10px;

}

